<div class="wrapper topround">
  <center> <a href="/index.html"><div class="site-title">{{site.title }} </div></a></center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <table>
    <tr>
    {% assign i = 0 %}
    {% for sitePage in site.pages %}
      {% if sitePage.title %}
        {% unless sitePage.url contains "page" %}
          <td style="text-align: center;">
            <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">
              {{sitePage.title}}
            </a>
          </td>
          {% if i == 4 %}
            </tr><tr>
          {% else %}
            <td>
              <span class="exclamationMark">/</span>
            </td>
          {% endif %}
          {% assign i = i | plus: 1 | modulo: 5 %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    </tr>
    </table>
  </div>
</div>



{% include mathjax.html %}
{% include chess.html %}
