<ul class="post-list">
  {% for post in paginator.posts %}
    <li class="post-item">
      <a class="post-title-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        {% if post.categories.size > 0 %}
          &middot;
          {% for cat in post.categories %}
            <a href="{{ site.baseurl }}/category/{{ cat | downcase | url_encode }}">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
