---
layout: default
---
<div class="home">

  {% include posts.html %}

  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a class="paginationLink" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
          <em class="paginationLink paginationLinkCurrent">{{ trail.num }}</em>
        {% else %}
          <a class="paginationLink" href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
      <a class="paginationLink" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
    </nav>
  {% endif %}

</div>
